/* BUTTONS */

.btn-primary {
    display: inline-block;
    background: #2563eb;
    color: #ffffff;
    padding: 14px 28px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #051a53;
    color: #ffffff;
}

.btn-outline{

    display:inline-block;

    border:2px solid var(--accent);

    color:var(--accent);

    padding:14px 28px;

    border-radius:8px;

    margin-left:15px;

    transition:var(--transition);

}

.btn-outline:hover{

    background:var(--accent);

    color:white;

}

/* ==========================
   LEARN MORE LINK
========================== */
.learn-more{

    display:inline-flex;

    align-items:center;

    gap:8px;

    margin-top:20px;

    color:var(--accent);

    font-weight:600;

    transition:var(--transition);

}

.learn-more i{

    transition:var(--transition);

}

.learn-more:hover{

    color:var(--primary);

}

.learn-more:hover i{

    transform:translateX(6px);

}