/* BUTTONS */


.btn-outline{

    display:inline-block;

    border:2px solid var(--accent);

    color:var(--accent);

    padding:14px 28px;

    border-radius:8px;

    margin-left:15px;

    transition:var(--transition);

}

.btn-outline:hover{

    background:var(--accent);

    color:white;

}