@media(max-width:992px){

    .trust-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:768px){

    .trust-grid{

        grid-template-columns:1fr;

    }

}

@media(max-width:1200px){

    .process-grid{

        grid-template-columns:repeat(3,1fr);

    }

}

@media(max-width:992px){

    .process-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:768px){

    .process-grid{

        grid-template-columns:1fr;

    }

}


@media(max-width:992px){

    .testimonial-grid{

        grid-template-columns:1fr;

    }

}

@media(max-width:992px){

.contact-wrapper{

grid-template-columns:1fr;

}

}